<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/javascripts/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  <title>文章管理</title>
</head>
<body>
  <div style="margin-top:30px;width:98%;" class="layui-form">
    <div class="layui-form-item">
      <label class="layui-form-label">输入类型</label>
      <div class="layui-input-block">
        <select name="type" id="type" lay-filter="" style="width:20px;">
          <option value=""></option>
          <%for(var i = 0;i < data.length - 1;i++){%>
            <option value="<%=data[i].tid%>"><%=data[i].typeName%></option>
          <%}%>
        </select>
      </div>
    </div>  
    <div class="layui-form-item">
      <label class="layui-form-label">输入标题</label>
      <div class="layui-input-block">
        <input type="text" name="title" id="name" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">选择状态</label>
      <div class="layui-input-block">
        <select name="state" id="state" lay-filter="" style="width:20px;">
          <option value=""></option>
          <option value="0">未通过</option>
          <option value="1">通过</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <div id="editor" style="margin-left:38px;"></div>
    </div>
    <div class="layui-form-item">
      <div style="margin-left:38px;text-align: right;">
        <button class="layui-btn" id="addArticle">提交文章</button>
        <button class="layui-btn  layui-btn-normal" id="refresh">刷新</button>
      </div>    
    </div>
  </div>
  <!-- <script src="/javascripts/jquery-3.1.1.min" ></script> -->
  <!-- <script>
    $.ajax({
      type:"POST",
      url:'/index/addOneArticle',
      success:function(data){
        console.log(data);
      }
    })
  </script> -->
  <script src="/javascripts/layui/layui.js"></script>
  <script src="/javascripts/wangEditor.js"></script>
  <script>
    layui.use(['form','jquery','layer'],function(){
      var form = layui.form;
      var $ = layui.jquery;
      var layer = layui.layer;

      //初始化富文本编辑器
      var E = window.wangEditor;
      var editor = new E("#editor");
      editor.customConfig.debug = true;
      editor.customConfig.zIndex = 1;
      //editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
      editor.customConfig.uploadFileName = 'photo';
      editor.customConfig.uploadImgServer = '/index/uploadPic';
      //监听函数在上传图片的不同阶段做相应的处理(插入一张图片就自动上传了)
      editor.customConfig.uploadImgHooks = {
        before: function (xhr, editor, files) {
          // 图片上传之前触发
          // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，files 是选择的图片文件    
          // 如果返回的结果是 {prevent: true, msg: 'xxxx'} 则表示用户放弃上传
          // return {
          //     prevent: true,
          //     msg: '放弃上传'
          // }
        },
        success: function (xhr, editor, result) {
          console.log(result);
          console.log('图片插入成功！');
          // 图片上传并返回结果，图片插入成功之后触发
          // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
        },
        fail: function (xhr, editor, result) {
          console.log(result);
          console.log('图片上传并返回结果，但图片插入错误')
          // 图片上传并返回结果，但图片插入错误时触发
          // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
        },
        error: function (xhr, editor) {
          // 图片上传出错时触发
          // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
        },
        timeout: function (xhr, editor) {
          // 图片上传超时时触发
          // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
        }
      }
      editor.create();
      
      //点击提交按钮事件
      $("#addArticle").click(function(){
        let articleName = $("#name").val();
        let tid = $("#type").val();
        let state = $("#state").val();
        let content = encodeURIComponent(editor.txt.html());//将html代码编码后再存进数据库
        let text = editor.txt.text();
        let data = {
          'articleName':articleName,
          'tid':tid,
          'content':content,
          'state': state
        }
        //console.log(typeName);
        if(text === ""){
          layer.confirm('您还未输入文章!',function(index){
            layer.close(index);//关闭对话框
          })
        }else{
          $.ajax({
            type:'POST',
            url:'/index/addOneArticle',
            data:data,
            success:function(result){
              if(result === "success"){
                layer.confirm('添加成功!',function(index){
                  layer.close(index);//关闭对话框
                })
              }else{
                layer.confirm('添加失败!',function(index){
                  layer.close(index);//关闭对话框
                })
              }
            }
          })
        }
        console.log(editor.txt.html());
        console.log(editor.txt.text());
      })

      //点击刷新按钮事假
      $("#refresh").click(function(){
        window.location.reload();
      })


    })
  </script>
</body>
</html>