<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/public.css' />
  <link rel='stylesheet' href='/stylesheets/admin.css' />
  <link rel="stylesheet" href="/javascripts/layui/css/layui.css">
  <link rel='stylesheet' href='/stylesheets/article.css' />
  <title>评论管理</title>
</head>
<body>
  <table id="comment" lay-filter="comment"></table>
  <script src="/javascripts/layui/layui.js"></script>
  <!-- 右边操作 -->
  <script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>
  <!-- 头部操作 -->
  <!-- <script type="text/html" id="toolbar">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="addType">添加类型</button>
    </div>
  </script> -->
  <script>
    layui.use(['table','jquery','layer'], function(){
      var table = layui.table;
      var $ = layui.jquery;
      var layer = layui.layer;
      //第一个实例
      var table1 = table.render({
        elem: '#comment',
        width:1150,
        height: 560,
        url: '/index/getCommentsAllData' ,//数据接口
        page: true ,//开启分页
        // toolbar:'#toolbar',//开启头部工具栏
        cols: [[ //表头
          {type:'checkbox',fixed:'left'},
          {field:'',title:'序号',type:'numbers',width:80},
          {field: 'articleName', title: '文章名', width:110},
          {field: 'typeName', title: '文章类型', width:110},
          {field: 'articleAuthor', title: '文章作者', width:110},
          {field: 'commentUser', title: '评论者', width:110},
          {field: 'state', title: '状态', width:80,templet:function(d){
            if(d.state === 1){
              return '通过';
            }else{
              return '屏蔽';
            }
          }},
          {field: 'createDate', title: '评论时间', width: 120,templet:function(d){
            let old = d.createDate;
            return new Date(old).toLocaleDateString()+" "+new Date(old).toLocaleTimeString();
          }},
          {field: 'right', title: '操作',align:'center', width: 150, toolbar:'#bar'}
        ]]
      });
      //监听行工具栏事件
      table.on('tool(comment)',function(obj){
        var data = obj.data;//获取当前行所有数据
        let id = data.id;//获取选中行的id
        let layEvent = obj.event;//获取点击的是哪个操作按钮
        let tr = obj.tr;//获取当前行tr的DOM对象
        //console.log(data);
        if(layEvent === 'del'){
          // $.ajax({
          //   type:'GET',
          //   url:'/index/comment',
          //   success:function(data){
          //     console.log("888");
          //   }
          // })
          console.log(obj);
          layer.open({
            content:'确认删除吗?',
            btn:['删除','取消'],
            yes:function(index,layero){
              $.ajax({
                type:'POST',
                url:'/index/deleteType',
                data:{'id':id},
                success:function(data){
                  if(data === "success"){
                    layer.close(index);
                    obj.del();//删除对应行（tr）的DOM结构，并更新缓存
                  }else{
                    alert("删除失败");
                  }
                }
              })
            },
            btn2:function(index,layero){
              layer.close(index);
            }
          })
        }else if(layEvent === 'edit'){
          var index1 = layer.open({
            type:1,
            area: ['1000px', '540px'],
            title:'编辑评论',
            content:'<div class="blog-content">\
                      <div class="blog-content-box">\
                        <div class="article-header-box">\
                          <div class="article-header">\
                            <div class="article-title-box">\
                              <h1 class="title-article" id="title-article">已写入</h1>\
                            </div>\
                            <div class="article-info-box">\
                              <div class="article-bar">\
                                <span class="author" id="author">已写入</span>\
                              </div>\
                            </div>\
                          </div>\
                        </div>\
                        <article class="article-content-box">\
                          <div class="article-content" id="article-content">\
                            已写入\
                          </div>\
                        </article>\
                      </div>\
                      <div class="comment-box">\
                        <div class="comment-list-box">\
                          <ul class="comment-list">\
                            <li class="comment-line-box" id="comment1">\
                              <a href="" class="avatar-link">\
                                <img src="https://avatar.csdn.net/D/F/D/3_lixiang_1989.jpg" class="avatar" alt="">\
                              </a>\
                              <div class="right-box">\
                                <div class="info-box">\
                                  <span class="name" id="name">已写入</span>\
                                  <span class="comment" id="comment_content">已写入</span>\
                                  <span class="date" id="date">已写入</span>\
                                  <span class="opt-box">\
                                    <a href="javascript:;" id="showReply" class="float hide">查看回复</a>\
                                    <a href="javascript:;" id="hideReply" class="float">收起回复</a>\
                                    <div class="float showHide" id="showHide">\
                                      <a href="javascript:;" class="float reply" id="reply">回复</a>\
                                      <a href="javascript:;" class="float reply hide" id="agree">通过</a>\
                                      <a href="javascript:;" class="float reply hide" id="disagree">屏蔽</a>\
                                      <a href="javascript:;" class="float reply" id="delete">删除</a>\
                                      <div class="clear"></div>\
                                    </div>\
                                  </span>\
                                </div>\
                              </div>\
                              <div class="clear"></div>\
                            </li>\
                            <li class="reply-box">\
                              <ul class="comment-list-reply" id="reply1">\
                                <li class="comment-line-box">\
                                  <a href="" class="avatar-link">\
                                    <img src="https://avatar.csdn.net/D/F/D/3_lixiang_1989.jpg" class="avatar" alt="">\
                                  </a>\
                                  <div class="right-box">\
                                    <div class="info-box">\
                                      <span class="name">888:</span>\
                                      <span class="comment">6666</span>\
                                      <span class="date">(15分钟前</span>\
                                      <span class="floor-num">#15楼)</span>\
                                    </div>\
                                  </div>\
                                  <div class="clear"></div>\
                                </li>\
                                <li class="comment-line-box">\
                                  <a href="" class="avatar-link">\
                                    <img src="https://avatar.csdn.net/D/F/D/3_lixiang_1989.jpg" class="avatar" alt="">\
                                  </a>\
                                  <div class="right-box">\
                                    <div class="info-box">\
                                      <span class="name">孙永镇:</span>\
                                      <span class="comment">6666</span>\
                                      <span class="date">(15分钟前</span>\
                                      <span class="floor-num">#15楼)</span>\
                                    </div>\
                                  </div>\
                                  <div class="clear"></div>\
                                </li>\
                              </ul>\
                            </li>\
                          </ul>\
                        </div>\
                      </div>\
                    </div>',
            success:function(layero, index){
              //点击回复评论事件
              $("#reply").click(function(){
                var reply = layer.open({
                  type:0,
                  title:'回复评论',
                  btn:['提交','取消'],
                  btn1:function(index, layero){
                    let replyText = $("#replyText").val();
                    let to_uid = data.from_uid;
                    let comment_id = data.id;
                    $.ajax({
                      type:'POST',
                      url:'/index/addReply',
                      data:{
                        'comment_id':comment_id,
                        'content':replyText,
                        'to_uid':to_uid,
                        'reply_type':0
                      },
                      success:function(data){
                        if(data === "success"){
                          layer.confirm('回复成功!',function(index){
                            layer.close(index);//关闭对话框
                            addReplyDom();//更新回复节点
                          })
                        }else{
                          layer.confirm('回复失败!',function(index){
                            layer.close(index);//关闭对话框
                          })
                        }
                      }
                    })
                  },
                  btn2:function(index, layero){
                    // console.log("999");
                  },
                  content:'<div class="login-item">\
                            <input class="form-text" type="text" placeholder="请输入回复内容"  id="replyText">\
                          </div>'
                });
              })
              addReplyDom();
              //评论栏禁用和通过按钮的处理
              if(data.state){
                $("#disagree").removeClass('hide');
              }else{
                $("#agree").removeClass('hide');
              }
              //评论后面的按钮处理

              //添加回复的dom节点
              function addReplyDom(){
                $.ajax({
                  type:'POST',
                  url:'/index/getReplysByCommentID',
                  data:{'comment_id':id},
                  success:function(replyData){
                    console.log(replyData);
                    if(replyData.length > 0){
                      let replyHtml = '';
                      let html1 = '<li class="comment-line-box">\
                                    <a href="" class="avatar-link">\
                                      <img src="https://avatar.csdn.net/D/F/D/3_lixiang_1989.jpg" class="avatar" alt="">\
                                    </a>\
                                    <div class="right-box">\
                                      <div class="info-box">\
                                        <span class="name">';
                      let html2 = ':</span>\
                                        <span class="comment">';
                      let html3 = '</span>\
                                        <span class="date">';
                      let html4 = '</span>\
                                        <span class="opt-box">\
                                          <div class="float showHide" id="showHide">\
                                            <a href="javascript:;" class="float reply" id="reply" onclick="replyEvent('; 
                      let html41 = ')">回复</a>';
                      let html5 = '<a href="javascript:;" class="float reply" id="agree">通过</a>';
                      let html6 = '<a href="javascript:;" class="float reply" id="disagree">屏蔽</a>';
                      let html7 = '<a href="javascript:;" class="float reply" id="delete" onclick="deleleEvent(';
                      let html71 = ')">删除</a>\
                                            <div class="clear"></div>\
                                          </div>\
                                        </span>\
                                      </div>\
                                    </div>\
                                    <div class="clear"></div>\
                                  </li>';
                      for(let i = 0;i < replyData.length;i++){
                        let isHtml = '';
                        if(replyData[i].state){
                          console.log("0000");
                          isHtml = html6;
                        }else{
                          isHtml = html5;
                        }
                        let parmDelete = '\'' + replyData[i].id +'\'';
                        let parmReply = '\'' + replyData[i].comment_id +'\''+ ','+'\'' + replyData[i].id +'\''+ ',' +'\''+ replyData[i].from_uid +'\'';
                        let createDate = new Date(replyData[i].createDate).toLocaleDateString()+" "+new Date(replyData[i].createDate).toLocaleTimeString();
                        let html = html1+replyData[i].from_userName+'@'+replyData[i].to_userName+html2+replyData[i].content+html3+'('+createDate+')'+html4+parmReply+html41+isHtml+html7+parmDelete+html71;
                        replyHtml += html;
                      }
                      $("#reply1").html(replyHtml);
                    }else{
                      $("#reply1").html("<div style=\"margin-left:20px;\">暂没有回复!</div>");
                    }
                  }
                })        
              }
              //删除事件（回复的）
              window.deleleEvent = function(id){
                layer.open({
                  content:'确认删除吗?',
                  btn:['删除','取消'],
                  yes:function(index,layero){
                    $.ajax({
                      type:'POST',
                      url:'/index/delReply',
                      data:{'id':id},
                      success:function(data){
                        if(data == "success"){
                          layer.confirm('删除成功!',function(index){
                            layer.close(index);//关闭对话框
                            addReplyDom();//更新回复节点
                          })
                        }else{
                          layer.confirm('删除失败!',function(index){
                            layer.close(index);//关闭对话框
                          })
                        }
                      }
                    })
                  },
                  btn2:function(index,layero){
                    layer.close(index);
                  }
                })
                console.log(id);
              }
              //回复事件（回复的）
              window.replyEvent = function(comment_id,reply_id,to_uid){
                //console.log(comment_id);
                //console.log(reply_id);
                //console.log(to_uid);
                var reply = layer.open({
                  type:0,
                  title:'回复评论',
                  btn:['提交','取消'],
                  btn1:function(index, layero){
                    let replyText = $("#replyText1").val();
                    console.log(replyText);
                    $.ajax({
                      type:'POST',
                      url:'/index/addReply',
                      data:{'comment_id':comment_id,'reply_id':reply_id,'to_uid':to_uid,'content':replyText,'reply_type':1},
                      success:function(data){
                        if(data === "success"){
                          layer.confirm('回复成功!',function(index){
                            layer.close(index);//关闭对话框
                            addReplyDom();//更新回复节点
                          })
                        }else if(data === "error"){
                          layer.confirm('您不能向自己回复!',function(index){
                            layer.close(index);//关闭对话框
                          })
                        }else{
                          layer.confirm('回复失败!',function(index){
                            layer.close(index);//关闭对话框
                          })
                        }
                      }
                    })
                  },
                  btn2:function(index, layero){
                    // console.log("999");
                  },
                  content:'<div class="login-item">\
                            <input class="form-text" type="text" placeholder="请输入回复内容"  id="replyText1">\
                          </div>'
                });
              }

              console.log(data);
              $("#title-article").text(data.articleName);
              $("#author").text(data.articleAuthor);
              $("#article-content").html(decodeURIComponent(data.article_content));
              $("#name").text(data.commentUser+":");
              $("#comment_content").text(data.comment_content);
              $("#date").text('('+data.createDate+')');

            }
          });
              

          //查看回复事件
          $("#showReply").click(function(){
            $("#reply1").css('display','block');
            $("#hideReply").css('display','block');
            $("#showReply").css('display','none');
            //console.log("666");
          })
          //收起回复事件
          $("#hideReply").click(function(){
            $("#reply1").css('display','none');
            $("#hideReply").css('display','none');
            $("#showReply").css('display','block');
          })

        }
      });

      //监听头部工具栏事件
      // table.on('toolbar(manager)',function(obj){
      //   switch(obj.event){
      //     case 'addType':
      //       // console.log("4444");
      //       var index2 = layer.open({
      //         type:0,
      //         title:'添加类型',
      //         btn:['提交','取消'],
      //         //按钮的回调操作
      //         btn1:function(index, layero){
      //           let typeName = $("#typeName1").val();
      //           let createPeople = $("#createPeople1").val();
      //           let remark = $("#remark1").val();
      //           $.ajax({
      //             type:"POST",
      //             url:"/index/addType",
      //             data:{'typeName':typeName,'createPeople':createPeople,'remark':remark},
      //             success:function(result){
      //               if(result === "success"){
      //                 alert("添加成功！");
      //                 layer.close(index2);//关闭对话框
      //                 table1.reload();//重载表格
      //               }else{
      //                 alert("添加失败！");
      //               }          
      //             }
      //           })
      //         },
      //         btn2:function(index, layero){
      //           // console.log("999");
      //         },
      //         content:'<div class="login-item">\
      //                   <span class="user-icon"></span>\
      //                   <input class="form-text" type="text" placeholder="请输入类型名"  id="typeName1">\
      //                 </div>\
      //                 <div class="login-item">\
      //                   <span class="user-icon"></span>\
      //                   <input class="form-text" type="text" placeholder="请输入创建者"  id="createPeople1">\
      //                 </div>\
      //                 <div class="login-item">\
      //                   <span class="user-icon"></span>\
      //                   <input class="form-text" type="text" placeholder="请输入备注"  id="remark1">\
      //                 </div>'
      //       });
      //     break;
      //   };
      // });

    })
  </script>
</body>
</html>