<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!-- 移动端的窗口 -->
  <title>请求集合</title>
  <link rel='stylesheet' href='/stylesheets/public.css' />
  <link rel='stylesheet' href='/stylesheets/admin.css' />
  <link rel="stylesheet" href="/javascripts/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">博客后台管理</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;" id="myName">
          <img src="/images/head.jpg" class="layui-nav-img">
          <%-userName%>
        </a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;" id="editOwnData">个人资料</a></dd>
          <dd><a href="javascript:;" id="editOwnPassword">修改密码</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="/logout">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;" id="Mindex">后台首页</a>
          <!-- javascript:;必须加 -->
          <!-- <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl> -->
        </li>
        <%if(superAdmin){%>
          <li class="layui-nav-item">
            <a href="javascript:;" id="manager">管理员管理</a>
            <!-- <dl class="layui-nav-child">
              <dd><a href="javascript:;">列表一</a></dd>
              <dd><a href="javascript:;">列表二</a></dd>
              <dd><a href="">超链接</a></dd>
            </dl> -->
          </li>
        <%}%>
        <li class="layui-nav-item">
          <a href="javascript:;" id="user">普通用户管理</a>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;" id="blog">博客管理</a>
          <dl class="layui-nav-child">
            <%if(superAdmin){%>
            <dd><a href="/index/typeSuper" id="type" target="iframe">分类管理</a></dd>
            <%}else{%>
            <dd><a href="/index/typeAdmin" id="type" target="iframe">分类管理</a></dd>
            <%}%>
            <dd><a href="javascript:;" id="addArticle">添加文章</a></dd>
            <dd><a href="javascript:;" id="manageArticle">管理文章</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;" id="comment">评论管理</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- 内容主体区域 -->
  <div class="layui-body layui-form">
  	<div class="layui-tab-item layui-show" style="margin-left: 10px;width: 100%;">
  		<iframe src="/index/Mindex" class="iframe" name="iframe"></iframe>
    </div>
  </div>
  
  <div class="layui-footer footer">
    <!-- 底部固定区域 -->
    copyright@请求集合
  </div>
</div>
<script src="/javascripts/layui/layui.js"></script>
<!-- <script type="text/javascript" src="/javascripts/index.js"></script> -->
<script>
  layui.use(['element','jquery','layer','form'],function(){
	var elenemt = layui.element;
  var $ = layui.$;
  var layer = layui.layer;
  var form = layui.form;

  $("#Mindex").click(function(){
    console.log("000");
    $(".iframe").attr('src','/index/Mindex');
  })
  
  $("#manager").click(function(){
    $(".iframe").attr('src','/index/manager');
	})
  $("#user").click(function(){
    $(".iframe").attr('src','/index/user');
	})

	$("#addArticle").click(function(){
	 	$(".iframe").attr('src','/index/addArticle');
  })

	$("#manageArticle").click(function(){
	 	$(".iframe").attr('src','/index/manageArticle');
  })

  $("#comment").click(function(){
    $(".iframe").attr('src','/index/comment');
  })

  //修改个人信息
  $("#editOwnData").click(function(){
    let id = sessionStorage.getItem("userid");
    $.ajax({
      type:"POST",
      url:"/index/getModel",
      sync:true,
      data:{"id":id},
      success:function(data){
        console.log(data);
        
        var index1 = layer.open({
          type:0,
          title:'修改个人信息',
          btn:['提交','取消'],
          //按钮的回调操作
          btn1:function(index, layero){
            let username = $("#username").val();
            let mobile = $("#mobile").val();
            let remark = $("#remark").val();
            console.log(id);
            if(username != username1 || mobile != mobile1 || remark != remark1){
              if(username1 != username){
                $.ajax({
                  type:"POST",
                  url:"/index/updataUsersOneData2",
                  data:{'id':id,'username':username,'mobile':mobile,'remark':remark},
                  success:function(result){
                    if(result === "success"){
                      layer.confirm("修改成功!",function(index){
                        layer.close(index);//关闭对话框
                      });
                      $("#myName").html("<img src='/images/head.jpg' class='layui-nav-img'>"+username);                     
                    }else if(result === "isExist"){
                      layer.confirm("用户名已存在，请重新输入!",function(index){
                        layer.close(index);//关闭对话框
                      })
                    }else{
                      layer.confirm("修改失败!",function(index){
                        layer.close(index);//关闭对话框
                      })
                    }
                  }
                })
              }else{
                $.ajax({
                  type:"POST",
                  url:"/index/updataUsersOneData3",
                  data:{'id':id,'username':username,'mobile':mobile,'remark':remark},
                  success:function(result){
                    if(result === "success"){
                      layer.confirm("修改成功!",function(index){
                        layer.close(index);//关闭对话框
                      });
                      $("#myName").html("<img src='/images/head.jpg' class='layui-nav-img'>"+username); 
                    }else{
                      layer.confirm("修改失败!",function(index){
                        layer.close(index);//关闭对话框
                      })
                    }
                  }
                })
              }
            }else{
              layer.confirm("您还没修改数据!",function(index){
                layer.close(index);//关闭对话框
              })
            }

          },
          btn2:function(index, layero){
            // console.log("999");
          },
          content:'<div class="login-item">\
                    <span>用户名：</span>\
                    <input class="form-text" type="text" placeholder="请输入用户名"  id="username">\
                  </div>\
                  <div class="login-item">\
                    <span>手机号：</span>\
                    <input class="form-text" type="text" placeholder="请输入手机号"  id="mobile">\
                  </div>\
                  <div class="login-item">\
                    <span>备注：</span><br>\
                    <input class="form-text" type="text" placeholder="请输入备注信息"  id="remark">\
                  </div>'
        });

        $("#username").val(data[0].userName);
        $("#mobile").val(data[0].mobile);
        $("#remark").val(data[0].remark);
        let username1 = data[0].userName;
        let mobile1 = data[0].mobile;
        let remark1 = data[0].remark;
      }
    })
  })

  //修改密码
  $("#editOwnPassword").click(function(){
    let id = sessionStorage.getItem("userid");
    var index2 = layer.open({
      type:0,
      title:'修改密码',
      btn:['提交','取消'],
      //按钮的回调操作
      btn1:function(index, layero){
        let username = $("#username1").val();
        let password = $("#passwordOld").val();
        let passwordNew = $("#passwordNew").val();
        let passwordAgain = $("#passwordAgain").val();
        // let type = 0;

        if(passwordNew === passwordAgain){
          $.ajax({
            type:"POST",
            url:"/index/updataUserPassword",
            data:{'id':id,'username':username,'passWord':password,'passwordAgain':passwordAgain,'type':0},
            success:function(result){
              if(result === "success"){
                layer.confirm("修改成功!",function(index){
                  layer.close(index);//关闭对话框
                });
                window.location.href = '/logout';
              }else if(result === "error"){
                alert("用户名或密码有误，请重新输入!");
                // layer.confirm("用户名或密码有误，请重新输入!",function(index){
                //   layer.close(index);//关闭对话框
                // })
              }else{
                alert("修改失败!");
                // layer.confirm("修改失败!",function(index){
                //   layer.close(index);//关闭对话框
                // })
              }
            }
          })
        }else{
          layer.confirm("两次密码输入不一致，请重新输入!",function(index){
            layer.close(index);//关闭对话框
          })
        }

      },
      btn2:function(index, layero){
        // console.log("999");
      },
      content:'<div class="login-item">\
                <input class="form-text" type="text" placeholder="请输入用户名"  id="username1">\
              </div>\
              <div class="login-item">\
                <input class="form-text" type="password" placeholder="请输入原始密码"  id="passwordOld">\
              </div>\
              <div class="login-item">\
                <input class="form-text" type="password" placeholder="请输入新密码"  id="passwordNew">\
              </div>\
              <div class="login-item">\
                <input class="form-text" type="password" placeholder="请再次输入密码"  id="passwordAgain">\
              </div>'
    })

  })

});
</script>
</body>
</html>
