// .left-aside
//   width: 256px
//   position: fixed
//   top: 0
//   bottom: 0
//   padding: 50px 30px 80px
//   border-right: 1px solid #d9d9d9
//   box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.35)
//   background-size: cover
  // background-image: url('../image/index-left.jpg')
