*
  margin: 0px
  padding: 0px
  border: 0px
  list-style-type: none

body
  font-family: -apple-system,"Helvetica Neue", "Helvetica", "Arial","PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif
  -webkit-font-smoothing antialiased
  font-size 14px
  line-height 1.6
  color #333333

a,ul,li,dl,dd,img
  list-style-type: none;
  list-style: none;

.div
  width: 200px
  height: 100px
  background-color: aquamarine

a
  text-decoration: none

.clear
  clear: both

.hide
  display none !important
